.toolbar {
  flex: 0 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.1);
  padding: 0 0.5rem;
  font-size: 12px;
}

.footer {
  height: 2.5rem;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

button {
  background: none;
  border: none;
  outline-color: var(--w);
  outline-width: 1px;
  padding: 0;
}

button:focus {

}

button:active {
  color: var(--w);
}

.button {
  padding: 0.55rem 1rem 0.5rem 1rem;
  border: none;
  font-family: NovelMono;
  font-size: 13px;
  outline-color: var(--w);
  outline-width: 1px;
}

.button:active {
  opacity: 0.8;
}
