/**
  * Defs
  * Declare all CSS variables and common classes here.
  */
  @font-face {  font-family: 'NovelMono';
                font-weight: normal;
                font-style: normal;
                src:  url('assets/fonts/novelmono.ttf') format('truetype') }

  @font-face {  font-family: 'NovelMono';
                font-weight: normal;
                font-style: italic;;
                src:  url('assets/fonts/novelmono-italic.ttf') format('truetype') }

  @font-face {  font-family: 'NovelMono';
                font-weight: bold;
                font-style: normal;
                src:  url('assets/fonts/novelmono-bold.ttf') format('truetype') }

  @font-face {  font-family: 'NovelMono';
                font-weight: bold;
                font-style: italic;
                src:  url('assets/fonts/novelmono-bold-italic.ttf') format('truetype') }

:root {
  /* Grid unit */
  --u: 16px;

  /* Colours */
  --c:      #27FF98;
  --m:      #F427FF;
  --y:      #FFD710;
  --k:      #1B1B20;
  --w:      #DCF9FE;
  --g:      #2B2C2F;
  --b:      #00D7FF;
  --f:      #FFFFFF;
  --r:      #ff0000;

  /* Gradients */
  --myc:   linear-gradient(0deg, #FB4FFF 0%, #FFD710 50%, #27FF98 100%);
  --bck:   linear-gradient(-180deg, #00D7FF 0%, #27FF98 51%, #000000 100%);
}

.c { color: var(--c) }
.m { color: var(--m) }
.y { color: var(--y) }
.k { color: var(--k) }
.w { color: var(--w) }
.g { color: var(--g) }
.b { color: var(--b) }
.f { color: var(--f) }
.r { color: var(--r) }

.bg-c { background-color: var(--c) }
.bg-m { background-color: var(--m) }
.bg-y { background-color: var(--y) }
.bg-k { background-color: var(--k) }
.bg-w { background-color: var(--w) }
.bg-g { background-color: var(--g) }
.bg-b { background-color: var(--b) }
.bg-f { background-color: var(--f) }
.bg-r { background-color: var(--r) }

.b-myc, .b-bck {
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 6px;
}
.b-myc::after {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background: var(--myc);
  content: '';
  z-index: -1;
}

.b-bck::after {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background: var(--bck);
  content: '';
  z-index: -1;
}
