.editor {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.editor .editor-content {
  box-sizing: border-box;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  padding: 1rem;
  max-width: 64rem;
  width: 100%;
}
