.editor {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.editor .editor-content {
  box-sizing: border-box;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  max-width: 64rem;
  padding: 1rem;
  transition: background-color linear 100ms;
  width: 100%;
}

.editor .editor-content:hover {
  background-color: #1D1D23;
}
