.editor {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.editor .content {
  box-sizing: border-box;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.8;
  max-width: 64rem;
  padding: 2rem 1.5rem 0rem 1.5rem;
  transition: background-color linear 100ms;
  width: 100%;
}

.editor .content:hover {
  background-color: #1D1D23;
}
