/* Hard targets */
*::selection {
  color: var(--f);
  background: var(--m);
}

body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;
  background: var(--k);
  overflow: hidden;
  background-color: var(--k);
}

button, input, select, textarea {
  -webkit-app-region: no-drag;
}
