/**
  * Common.css
  * Common appearance settings.
  */
@import 'codemirror/lib/codemirror.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
* {
  box-sizing: border-box;
}

html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  cursor: default;
  background: var(--k);
}

body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;
  background: var(--k);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

div, main, button, input, select {
  -webkit-app-region: no-drag;
}

.container {
}

h1 {
  color: white;
}
