.composer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.composer .content {
  box-sizing: border-box;
  cursor: text;
  outline: none;
  flex-grow: 1;
  font-size: 13px;
  line-height: 1.8;
  max-width: 48rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  transition: background-color linear 100ms;
  width: 100%;
}

/*
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}
*/
